$white: #fff;
$black: #000;

*{margin:0; padding:0;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body, input, textarea {background: #fafafa; font-family: Open Sans, Arial, Helvetica, sans-serif; overflow-X:hidden;}
a {color:inherit; text-decoration:none;}
a:hover {text-decoration:none;}
ul, li {list-style:none; margin:0;} fieldset {border:0;} textarea {resize:none;}
h1,h2,h3,h4,span,li{margin:0;}
h1{font-size:35px;}
h2{font-size:25px;}
h3{font-size:21px;}
h4{font-size:18px;}
span{font-size:15px;}
li{font-size:18px;}
p{font-size:21px;}
.bold{font-weight:bold;}
.light{font-weight:lighter;}
#wrapper_body{min-height:100vh; display:flex; flex-direction:column;}
#wrapper_components{flex-grow:1; display:flex; flex-direction:column; justify-content:center;}

.indent{width:90%; max-width:1200px; margin:0 auto;}

#wrap_header{width:100%; position:relative; background:#c6c6c6;
	.indent{padding:15px 0; display:flex;
		.menu{width:100%; display:flex;
			li{margin:0 10px; color:$black; font-size:18px; cursor:pointer;}
		}
	}
}


#wrap_login{width:100%; position:relative;
	.indent{max-width:805px; display:flex; justify-content:space-between; align-items:center;
		.col{width:100%; display:flex; flex-direction:column;
			span{font-size:14px; color:#262626;}
			span.blue{color:#3897f0; font-weight:bold;}
			.bloco{width:100%; background:$white; border:1px solid #dbdbdb; padding:30px 40px 20px; text-align:center; margin:0 0 10px 0;
				form{width:100%; display:flex; flex-direction:column;
					input{width:100%; margin:0 0 6px; border:1px solid #dbdbdb; background:#fafafa; padding:9px 8px; color:#262626; outline:0; border-radius:2px;
						&:focus{border:1px solid #666;}}
					input[type='submit']{cursor:pointer; margin:7px 0 0 0; background:#3897f0; color:$white; font-size:14px; font-weight:500; border-radius:5px; padding:5px;
						&:disabled{opacity:0.35}}
					.loading{width:100%; background:#3897f0; border-radius:5px; padding:5.5px 0; display:flex; align-items:center; justify-content:center;
						svg{color:$white;}
					}
				}
				button{background:transparent; border:0; padding:0 5px; cursor:pointer; outline:0;}
				.title{width:100%; text-align:center; margin:20px 0 25px;
					h4{font-size:17px; color:#999; font-weight:600;}
				}
				.text{width:100%; margin:20px 0;
					span{color:#999;}
				}
			}
			.bloco.bloco2{margin:10px 0 0 0;}
		}
		.error{width:100%; text-align:center; background:#ff0000; padding:5px 0; margin:10px 0;
			span{color:$white; font-size:15px;}
		}
		.success{width:100%; text-align:center; background:#4EB12E; padding:5px 0; margin:10px 0;
			span{color:$white; font-size:15px;}
		}
	}
}

